---
- name: Create configuration directory
  file:
    path: /etc/docker
    state: directory

- name: Copy configuration file
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
  notify: restart docker

- name: "Add {{ ansible_user_id }} to docker group"
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes
  when: docker_unprivileged_access

- name: Configure docker service
  template:
    src: docker.service.j2
    dest: /etc/systemd/system/docker.service
  notify:
    - systemd reload
    - restart docker
  register: custom_options
  when: ansible_service_mgr == "systemd"
