---
- name: Login to registry
  docker_login:
    registry: "{{ item.url }}"
    username: "{{ item.user }}"
    password: "{{ item.pass }}"
  with_items: "{{ docker_registries }}"
  when: docker_registries != []

- name: Ensure networks existance
  docker_network:
    name: "{{ item.1.name }}"
  with_subelements:
    - "{{ docker_containers }}"
    - networks
    - skip_missing: yes
  when: docker_containers != []

- name: Ensure volume directories exist
  file:
    dest: "{{ item }}"
    state: directory
  with_items: "{{ docker_volumes }}"
  when: docker_volumes != []

- name: Ensure cAdvisor is started
  docker_container:
    name: cadvisor
    image: google/cadvisor:latest
    memory: 512m
    ports:
      - 8080:8080
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
    log_driver: syslog
    log_options:
      syslog-facility: local0
      tag: cadvisor
  when: docker_monitoring

- name: Ensure containers are started
  docker_container:
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    state: started
    restart_policy: unless-stopped
    networks: "{{ item.networks | default(omit) }}"
    ports: "{{ item.ports | default(omit) }}"
    volumes: "{{ item.volumes | default(omit) }}"
    env: "{{ item.env | default(omit) }}"
    env_file: "{{ item.env_file | default(omit) }}"
    log_driver: "{{ item.log_driver | default(omit) }}"
    log_options: "{{ item.log_options | default(omit) }}"
  with_items: "{{ docker_containers }}"
  when: docker_containers != []

