---
- name: Install dependencies
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items: "{{ docker_dependencies }}"

#- name: add specific key
#  apt_key:
#    keyserver: hkp://p80.pool.sks-keyservers.net:80
#    id: 58118E89F3A912897C070ADBF76221572C52609D
#    state: present
#  environment:
#    http_proxy: "{{ http_proxy | default('') }}"
#    https_proxy: "{{ https_proxy | default('') }}"
- name: Download GPG key
  get_url:
    url: "https://download.docker.com/linux/ubuntu/gpg"
    dest: "/tmp/docker.gpg"
  become: no
  run_once: true
  delegate_to: localhost

- name: add GPG key
  apt_key:
    data: "{{ lookup('file', '/tmp/docker.gpg') }}"
    state: present

- name: add docker repository
  template:
    src: docker.ubuntu.repo.j2
    dest: /etc/apt/sources.list.d/docker.list

- name: Purge old versions
  apt:
    name: "{{ item }}"
    state: absent
    purge: true
  with_items:
    - lxc-docker
    - docker-engine

- name: Install docker
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - python-docker
    - "{{ docker_package | default('docker-ce') }}"
  notify:
    - restart docker
