---
- name: add specific key
  apt_key:
    keyserver: hkp://p80.pool.sks-keyservers.net:80
    id: 58118E89F3A912897C070ADBF76221572C52609D
    state: present

- name: add docker repository:
  template:
    src: docker.ubuntu.repo
    dest: /etc/apt/sources.list.d/docker.list

- name: Purge lxc-docker
  apt:
    name: lxc-docker
    state: absent
    purge: true

- name: Install docker
  apt:
    name: "{{ docker_package | default('docker-engine') }}"
    state: present
    update_cache: yes


