--_
- name: Ensure cAdvisor is started
  docker_container:
    name: cadvisor
    image: google/cadvisor:latest
    memory: 512m
    ports:
      - 8080:8080
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "{{ docker_directory_path }}:/var/lib/docker:ro"
    log_driver: syslog
    log_options:
      syslog-facility: local0
      tag: cadvisor
