{
  "iptables": {{ "false" if docker_disable_iptables else "true" }}
{% if docker_additional_dns != [] %}
  ,"dns": [
{%   for dns in docker_additional_dns %}
    {% if loop.index != 1 %},{% endif %}"{{ dns }}"
{%   endfor %}
   ]
{% endif %}
{% if docker_directory_path != "" %}
  ,"graph": "{{ docker_directory_path }}"
{% endif %}
{% if docker_registries != [] %}
  ,"insecure-registries": [
{%   for registry in docker_registries %}
     {% if loop.index != 1 %},{% endif %}"{{ registry.url }}"
{%   endfor %}
    ]
{% endif %}
}
